In [1]:
import pandas as pd

In [2]:
properties = pd.read_csv("data/raw/properties.csv")

In [3]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75511 entries, 0 to 75510
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              75511 non-null  int64
 1   price                           75511 non-null  float64
 2   property_type                   75511 non-null  object
 3   subproperty_type                75511 non-null  object
 4   region                          75511 non-null  object
 5   province                        75511 non-null  object
 6   locality                        75511 non-null  object
 7   zip_code                        75511 non-null  int64
 8   latitude                        61413 non-null  float64
 9   longitude                       61413 non-null  float64
 10  construction_year               42120 non-null  float64
 11  total_area_sqm                  67896 non-null  float64
 12  surface_land_sqm                39255 non-null  float64
 13  nbr_frontages                   49165 non-null  float64
 14  nbr_bedrooms                    75511 non-null  float64
 15  equipped_kitchen                75511 non-null  object
 16  fl_furnished                    75511 non-null  int64
 17  fl_open_fire                    75511 non-null  int64
 18  fl_terrace                      75511 non-null  int64
 19  terrace_sqm                     62371 non-null  float64
 20  fl_garden                       75511 non-null  int64
 21  garden_sqm                      72572 non-null  float64
 22  fl_swimming_pool                75511 non-null  int64
 23  fl_floodzone                    75511 non-null  int64
 24  state_building                  75511 non-null  object
 25  primary_energy_consumption_sqm  48944 non-null  float64
 26  epc                             75511 non-null  object
 27  heating_type                    75511 non-null  object
 28  fl_double_glazing               75511 non-null  int64
 29  cadastral_income                30544 non-null  float64
dtypes: float64(12), int64(9), object(9)
memory usage: 17.3+ MB

In [83]:
properties = properties.drop(columns=["nbr_frontages", "surface_land_sqm", 
                                      "fl_terrace", "fl_garden", "epc", 
                                      "heating_type", "latitude", "longitude", "cadastral_income"], axis=1)

In [84]:
properties = properties.dropna()

In [85]:
properties.construction_year = properties.construction_year.astype("int64")
properties.nbr_bedrooms = properties.nbr_bedrooms.astype("int64")

In [86]:
properties.dtypes

id                                  int64
price                             float64
property_type                      object
subproperty_type                   object
region                             object
province                           object
locality                           object
zip_code                            int64
construction_year                   int64
total_area_sqm                    float64
nbr_bedrooms                        int64
equipped_kitchen                   object
fl_furnished                        int64
fl_open_fire                        int64
terrace_sqm                       float64
garden_sqm                        float64
fl_swimming_pool                    int64
fl_floodzone                        int64
state_building                     object
primary_energy_consumption_sqm    float64
fl_double_glazing                   int64
dtype: object

In [87]:
with open("data/cleaned/properties.csv", "wb") as csv_file:
    pd.DataFrame.to_csv(properties, csv_file, index=False)